<h3>Chat</h3>

<div class="app-mensajes" id="app-mensajes">
  <div [ngClass]="{'text-right': chats.usuario.uid == c.uid}" *ngFor="let c of chats.chat">
    <span class="badge" [ngClass]="{'bg-info': chats.usuario.uid == c.uid, 
    'bg-warning': chats.usuario.uid == c.uid
  }
    
    ">{{c.emisor}}</span>
    <p>
      {{ c.mensaje }}
    </p>
  </div>

  <!-- <div>
    <span class="badge bg-warning text-dark">Carlos</span>
    <p>
      Si amor, pero hay que conseguir si o si esas entradas.
    </p>
  </div> -->

</div>

<!-- para usar el ng model, importamos forms module en app.module -->

<!-- aunque en realidad no estoy segura de como lo hace, ngmodel
crea una instancia de la variable en el .ts y se comunica con el -->
<input type="text" [(ngModel)]="mensaje" #it="ngModel" placeholder="Enviar mensaje..." (keyup.enter)="enviarMensaje()"
  class="form-control">